<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--HTML的头-->

    <!--这是没有登录的css接口-->
    {% include 'login/interface/interface-css.html'%}



</head>


<!--没有登录的头部-->
{% include 'login/html/back-head.html'%}



<!--引入注册HTML-->
<!--注册的HTML-->
{%include 'login/html/register.html'%}
<!--登录的HTML-->
{%include 'login/html/sign-in.html'%}


{% include 'login/html/back-subject.html'%}
<!--没有登录的主体-->





<!--这里是全局js-->
{% include 'login/interface/global-js.html'%}


<!--这里是没有登录的js接口-->
{% include 'login/interface/interface-js.html'%}

</html>