<script type="text/html" id="tag">
    <div class="">
        <div class="tag-left">
            <img src="">
        </div>
        <div class="tag-middle">
            <div>xxx</div>
            <div>
                <span>xx关注</span>  <span>xxx文章</span>
            </div>
        </div>
        <div class="tag-right">
            <@if (follwed){ @>
                <button>已关注</button>
            <@}else{@>
                <button>未关注</button>
            <@}@>
        </div>
    </div>
</script>