<script type="text/html" id="test">
    <%for (var i = 0; i < data.length; i++) {%>
    <% var item = data[i] %>
    <div class="entry clearfix">
        <div class="entry-screenshot float-left">
            <img src="<%= item.image %>">
        </div>
        <div class="float-left entry-info">
            <div class="entries-title"><%= item.title %></div>
            <div class="entries-meta">
                <div class="collection-action action">
                    <i>^_^</i>
                    <span>78</span>
                </div>
                <div class="action"><%= item.name %></div>
                <div class="action"> ·</div>
                <div class="action"><%= item.time %></div>
                <i class="action">...</i>
            </div>
        </div>
    </div>
    <%}%>
</script>