.recommend-tags {
    padding: 1em;
    min-height: 10em;
    background-color: #fff;
    border-radius: 2px;
}

.recommend-tag {
    width: 20%;
    font-size: 0.9em;
    text-align: center;
    box-sizing: border-box;
}

.tag-img {
    height: 3em;
    margin: 0.6em auto 0.3em;
    display: block;
}

.tag-tex {
    line-height: 2em;
    color: #666;
}

.tag-button {
    width: 60%;
    border: 1px solid #37c700;
    background-color: transparent;
    padding: 0.2em 0.5em;
    color: #37c700;
    margin: 0.5em auto;
    line-height: 1.5em;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s,color;
}

.tag-button:hover {
    background-color: #37c700;
    color: #fff;
}