<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gold fake</title>
    <!--meta开始-->
    {%include "global-static/meta.html"%}
    <!--meta结束-->
    <!--样式引入开始-->
    {%include "global-static/css-global.html"%}
    {%if user%}
        {% include "index/index-logined/css-logined.html"%}
    {%else%}
        {%include "index/index-nologin/css-nologin.html"%}
    {%end%}
    <!--样式引入结束-->
</head>

<body>
<!--index头部开始-->
{%if user%}
    {%include "global-html/html-header-logined.html"%}
{%else%}
    {% include "global-html/html-header-nologin.html"%}
{%end%}
<!--index头部结束-->

<!--main开始-->
{%if user%}
    {%include "index/index-logined/html-main-logined.html"%}
{%else%}
    {% include "index/index-nologin/html-main-nologin.html"%}
{%end%}
<!--main结束-->

<!--js开始-->
{%include "global-static/js-global.html"%}

{% if user %}
    {% include "index/index-logined/js-index-logined.html"%}
{% else %}
    {% include "index/index-nologin/js-index-nologin.html" %}
{% end %}
<!--js结束-->
</body>
</html>