.nav-left {
    width: 140px;

    position: fixed;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    list-style: none;
    margin: 2px 0;
    padding: .4em .6em;
    border-radius: 2px;
    color: #909090;
}

.nav-list > li:hover {
    background-color: hsla(0, 0%, 87%, .2);
    color: #007fff;
}

.nav-list svg {
    width: 24px;
    height: 24px;
    background-color: #007fff;
    vertical-align: middle;
}

.nav-text {
    vertical-align: middle;
    margin-left: .9em;
}

.nav-a {
    width: 5.6em;
}

.app-img {
    width: 5.6em;
    margin: 1em auto 0.5em;
    display: block;
}

.rss-img {
    display: block;
    margin: auto;
}