

.header{
    position: fixed;
    z-index: 5;
    top:0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    height: 4em;
}

.hd-container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.hd-leftside,.hd-rightside{
    display: inline-block;
    white-space: nowrap;
}

.hd-rightside{
    float: right;
}

.hd-leftside>li,.hd-rightside>li{
    float: left;
}

.leftside-img{
    line-height: 4em;
    vertical-align: middle;
    padding: 0 1em;
}

.leftside-img img{
    vertical-align: middle;
    height: 2em;
}

.hd-logo-text{
    height: 4em;
    line-height: 4em;
    cursor: pointer;
    letter-spacing: 0.2em;
    padding-left:22px;
    font-weight: 500;
}

.text-blue{
    color: #007fff;
}

.leftside-text{
    padding:0 1.25em;
}

.rightside-input,.user-handdle{
    padding: 1em 0.75em;
    vertical-align: top;
}

.user-handdle{
    padding: 1.25em 0.75em;
}

.tag-input-block{
    border:1px solid #ddd;
    border-radius: 2px;
    padding: 0 0.5em;
    width: 15em;
}

.tag-input{
    border: none;
    padding: 0.5em;
    font-size:0.8em;
    color:rgba(0,0,0,.3);
    outline:none;
}

.register,.login{
    background-color: transparent;
    color:#007fff;
    font-size:0.9em;
    /*padding-right: 0;*/
    vertical-align: middle;
    display: inline-block;
    border:none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
}

.register{
    padding: 0.15em 0 0.15em 0.8em;
}

