
.user-action-box{
    height: 64px;
    display: -webkit-flex;

}

.logined-user-handle{
    padding-left: 26px;
    cursor: pointer;
    align-items: center;
    display: -webkit-flex;

}

.user-action-box img{
    align-items: center;
}

.fadeout{
    display: none;
}

.user-img{
    width: 32px;
    height: 32px;
    border-radius:50%;
}


.user-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #f1f1f1;
    width: 10em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    font-size: 16px;
    top: 64px;
    display: none;
}

.user-dropdown-list li {
    padding: 15px 0 15px 25px;
    letter-spacing: 2px;
}

.user-dropdown-list li:hover {
    background-color: #f1f1f1;
}

.user-dropdown-list-box {
    border-top: 1px solid #f1f1f1;
}

.user-dropdown-list2 {
    top: 140px;
    right: 161px;
    display: none;
}
