
.rightside-input,.user-handdle{
    padding: 1em 0.75em;
    vertical-align: top;
}

.user-handdle{
    padding: 1.25em 0.75em;
}

.tag-input-block{
    border:1px solid #ddd;
    border-radius: 2px;
    padding: 0 0.5em;
    width: 15em;
}

.tag-input{
    border: none;
    padding: 0.5em;
    font-size:0.8em;
    color:rgba(0,0,0,.3);
    outline:none;
}

.register,.login{
    background-color: transparent;
    color:#007fff;
    font-size:0.9em;
    /*padding-right: 0;*/
    vertical-align: middle;
    display: inline-block;
    border:none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 500;
}

.register{
    padding: 0.15em 0 0.15em 0.8em;
}

