<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    {%include "../global/html/meta.html"%}
    <!-- 公共样式-->
    {%include "../global/lead-in/css-global.html"%}
    <!-- 公共头部样式-->
    {%include "lead-in/css-header.html"%}
    <!--主体部分引入 -->
    {%if user %}
    {%include "lead-in/css-main-login.html"%}
    {%else%}
    {%include "lead-in/css-main-nologin.html"%}
    {%end%}


</head>
<body>
<!--头部html(未登陆头部包括注册/登陆，登陆页面包括下拉列表)-->
{%include "../global/lead-in/header.html"%}




<!--主体部分判断-->
{%if user %}
{%include "html/main-login.html"%}
{%else%}
{%include "html/main-nologin.html"%}
{%end%}




<!--js与模版文件的引入-->
{%include "../global/lead-in/js.html"%}
<!--js文件的引入-->
{%if user%}
{%include "lead-in/js-login.html"%}
{%else%}
{%include "lead-in/js-nologin.html"%}
{%end%}

</body>
</html>