
<div class="head-subject">
    <!--主体容器-->
    <div class="head-signin-box">


        <!--左边导航-->
        <div class="float-left" data-sel="head-navigation-s">
            <div class="head-navigation ttt">推荐</div>
                {%include '../template/index-navigation.html'%}
        </div>

        <!--中间内容的开始-->
        <div class="head-content float-left">
            <div class="head-selected">
                <div class="float-left">精选</div>
                <a class="flex-right font-blue" href="">订阅周报</a>
            </div>

            <!--主体内容-->
            <div class="head-content-box" data-sel="homepage-article">
                {%include '../template/index-article.html'%}
            </div>
        </div>
    </div>
</div>
