
<!--left side-->
<!--<script type="text/html" id="aside-nav">-->

    <!--<ul class="nav-list">-->
        <!--<@ for (var i = 0; i < data.length; i++) {@>-->
        <!--<@ var item = data[i] @>-->
        <!--<li>-->
            <!--<svg></svg>-->
            <!--<a href=""><span class="nav-text"><@=item.name@></span></a>-->
        <!--</li>-->
        <!--<@}@>-->
    <!--</ul>-->
<!--</script>-->

<script type="text/html" id="aside-nav">
    <ul class="nav-list">
        <@ for (var i = 0; i < data.length; i++) {@>
        <@ var item = data[i] @>
        <li>
            <svg></svg>
            <a href=""><span class="nav-text"><@=item.name@></span></a>
        </li>
        <@}@>
    </ul>
</script>