<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "../global/meta.html" %}
    <!-- 引入公共样式-->
    {%include "../global/css.html"%}
    <!-- 引入头部样式-->
    {%if user %}
        {%include "css-login.html"%}
    {%else%}
        {%include "css-nologin.html"%}
    {%end%}

    <title></title>
</head>
<body>

<!--引入头部html-->
{% include "header.html" %}

<!--引入主体部分html-->
{%if user %}
{%include "main-login.html"%}
{%else%}
{%include "main-nologin.html"%}
{%end%}

1111222
<!--引入js/template-->
{%include "../global/js.html"%}
<script type="text/javascript" src="/static/index/index-nav-nologin.js"></script>
</body>
</html>