.scroll-padding {
    background-color: #f8f9fa;
}

.container {
    width: 960px;
}

.banner {
    position: relative;
}

.banner > img {
    width: 100%;
    height: 144px;
    margin-top: 80px;

}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.close {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #666;
    color: #fff;
    text-align: center;
    font-size: 5px;
    line-height: 16px;
    position: absolute;
    top: 85px;
    right: 10px;
}

.home-entry-list {
    margin-top: 15px;
}

.home-left-nav-box {
    margin-right: 1.5em;
    width: 15%;
    letter-spacing: .05em;
    position: relative;
}

.title {
    padding: 0.4em 0 0.4em 0.5em;
    color: #333;
    font-weight: 700;
    font-size: 1em;
    margin: 6px 0;
    border-radius: 2px;
    cursor: pointer;
    transition: color, .3s;
}

.title:hover {
    background-color: #f1f1f1;
}

.category {
    padding: 0.3em 0 0.3em 0.5em;
    font-size: 0.95em;
    color: rgba(43, 68, 93, .4);
    transition: color, 0.3s;
    cursor: pointer;
    margin-bottom: 15px;
}

.category:hover {
    color: #007fff;
}
.home-right-box{background-color: white;width: 80%;}
.right-header{color: #2b445d;padding: 0 8px;}
.right-header-left{position: relative;}
.header-title{ display: inline-block;padding: 1em;position: relative;}
.header-title-l:after {
    content: '';
    left:100%;
    width: 1px;
    height: 16px;
    background-color: #2b445d;
    position: absolute;
}
.right-header-right{}