.gold-header {
    width: 100%;
    background-color: #fff;
    height: 64px;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    border-bottom: 1px solid #f1f1f1;
}
.container{width: 960px;}

.nav-action {
    margin: auto 0.8em;
    cursor: pointer;
    line-height: 64px;
    display: inline-block;

}

.actions-text {
    display: inline-block;
}

.actions-text:hover {
    border-bottom: 2px solid #007fff;
    color: #007fff;
}

.container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gold-right-img-box {
    line-height: 64px;
}
.gold-right-img-box>span{font-size: 16px;color: #007fff;line-height: 65px;margin-left: 40px;}

.gold-right-img {
    vertical-align: middle;
}

.nav-img1, .nav-img2, .nav-img3 {
    margin-top: 23px;
    margin-left: 30px
}

.nav-img1 {
    background: url("/static/global/img/1.png");
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
}

.nav-img1:hover {
    background: url("/static/global/img/11.png");
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
}

.nav-img2 {
    background: url("/static/global/img/2.png");
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
}

.nav-img2:hover {
    background: url("/static/global/img/22.png");
    width: 18px;
    height: 16px;
    background-repeat: no-repeat;
}

.nav-img3 {
    background: url("/static/global/img/3.png");
    width: 18px;
    height: 22px;
    background-repeat: no-repeat;
}

.nav-img3:hover {
    background: url("/static/global/img/33.png");
    width: 18px;
    height: 22px;
    background-repeat: no-repeat;
}

.dropdown {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-top: 16px;
    margin-left: 40px
}

.user-dropdown-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #f1f1f1;
    width: 10em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    font-size: 16px;
    top: 64px;
    display: none;
}

.user-dropdown-list li {
    padding: 15px 0 15px 25px;
    letter-spacing: 2px;
}

.user-dropdown-list li:hover {
    background-color: #f1f1f1;
}

.user-dropdown-list-box {
    border-top: 1px solid #f1f1f1;
}

.user-dropdown-list2 {
    top: 140px;
    right: 161px;
    display: none;
}
