.welcome-hero-cover {
    background-color: rgba(0, 0, 0, .6);
    z-index: 10002;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;

    /*width: 100%;*/
    /*height: 100%;*/
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -10em;
    width: 20em;
    min-height: 21em;
    background-color: #fff;
    z-index: 10001;
    border-radius: 2px;
    border: 1px solid #f5f5f5;
    padding: 1.5em;
    box-sizing: border-box;
}

.login > i {
    cursor: pointer;
    position: absolute;
    top: 0.4em;
    right: 0.7em;
    color: #909090;
    font-size: 1.1em;
}

.login-content {

}

.login-label {
    font-size: 1.3em;
    font-weight: 700;
}

.login-phone-input {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin: 0.7em auto;
    padding: 0.8em 0.7em;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    display: block;

}

.login-button {
    background-color: #007fff;
    border-radius: 2px;
    color: #fff;
    width: 100%;
    padding: 0.7em;
    border: none;
    font-size: 16px;
}

.login-text {
    font-size: 0.8em;
    position: relative;
    margin-bottom: 2em;
    width: 100%;
    color: #007fff;
}
.login-text-password, .login-text-register{
    line-height: 3;
    cursor:pointer;
}
.login-text-register{position: absolute;right: 0;}
.login-other-platform{margin-top: 1em;text-align: center;font-size: 0.8em;color: #666;}
.other-platform-img{margin:  0 0.5em;
    cursor: pointer;}
.other-platform-img>img{width: 1.5em;vertical-align: bottom;}