<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--HTML的头-->
    {% include 'index/before-login/html/front.html'%}

    <!--这是没有登录的css接口-->
    {% include 'index/login/interface/interface-css.html'%}



</head>


<!--没有登录的头部-->
{% include 'index/login/html/back-head.html'%}


{% include 'index/login/html/back-subject.html'%}
<!--没有登录的主体-->





<!--这里是全局js-->
{% include 'index/login/interface/global-js.html'%}


<!--这里是js接口-->
{% include 'index/login/interface/interface-js.html'%}

</html>