<div id='main'>
    <div class="container clearfix " data-sel="aside-nav">
        <!--－－－－－－－左边导航－－－－－－－-->
        {%include "main-nologin/nav.html"%}
        <div class="content-whole">
            <!--－－－－－－－中间内容 －－－－－－－-->
            <div class="content" style="">
                <div class="content-box clearfix">
                    <!--－－－－－－－中间内容标题 －－－－－－－-->
                    {%include "main-nologin/content-title.html"%}
                    <!--－－－－－－－中间内容内容 －－－－－－－-->
                    {%include "main-nologin/content.html"%}


                </div>

            </div>

        </div>


    </div>
</div>