<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {%include "global/meta.html"%}
    {%include "global/css.html"%}
    <!---->
    {%if user %}
        {%include "index/css-nologin.html"%}
    {%else%}
        {%include "index/css-login.html"%}
    {%end%}
</head>
<body>

{% include "global/header.html" %}


<!---->
{%if user %}
    {%include "index/main-login.html"%}
{%else%}
    {%include "index/main-nologin.html"%}
{%end%}

<!--公-->
{%include "global/js.html"%}

<!---->
{%if user %}
    {%include "index/js-nologin.html"%}
{%else%}
    {%include "index/js-login.html"%}
{%end%}

</body>
</html>